<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/css/error.css">
</head>

<body>
  <main>
    <div class="error">
      <img src="https://cdn.glitch.global/12ac786b-aa53-4184-abe1-9b60c62a498a/sad.jpg?v=1673942507012" alt="sad" />
      <div class="text">
        <p>Sorry! You are not registered or age is above 10 year.</p>
      </div>
    </div>
  </main>

  <footer>
    <button>Back to Home</button>
  </footer>
</body>

</html>
