<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/success.css">
</head>

<body>
  <!--------left------>
  <div class="success">
    <div class="message">
      <p>Congratutations! Your gift is on it's way. Hurrayyyyy.....</p>
    </div>
  </div>
  <!--------right------>

  <footer>
    <button>Back to Home</button>
  </footer>
</body>

</html>
