/* Error Page */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

button {
  margin-left: 45%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 426px) {
  .error {
    display: block;
  }

  img {
    width: 25vh;
  }

  button {
    margin-left: 38%;
  }
}
